.carousel-item img {
    height: 500px;
}

.disponivel {
    font-size: 1.1em;
    font-weight: 700;
    color: #A1A2A3;
}
  
.mais {
    background-color: #5AB947;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 10.8rem;
    border: none;
    border-radius: 0.8rem;
    padding: 2rem 0.8rem;
    margin: 3px 1rem;
    color: #fafafa;
    font-size: 1.1em;
    cursor: pointer;
}

.classification {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F9FA;
}

.square {
    margin-top: 5px;;
    width: 80px;
    background-color: #2193D1;
    height: 3rem;
    border-radius: 0.8rem;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
}
  
.class-text {
    padding: 0 1rem;
    width: 11rem;
    color: #484848;
    font-size: 0.8em;
}