.profile {
    padding: 15.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile h2 {
    color: #757576;
    padding: 1rem;
}

.profile-img img {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
}